In [3]:
from gurobipy import * 
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import copy
import geopandas as gpd 
%matplotlib inline

# Zones

In [16]:
zone_ids_file = pd.read_csv("/Users/peyman/Dropbox (MIT)/Projects/RL_ridehailing/env/Data/zones_w_neighbors.csv")
zone_ids = zone_ids_file.LocationID.values
zone_ids

array([  4,  12,  13,  24,  41,  42,  43,  45,  48,  50,  68,  74,  75,
        79,  87,  88,  90, 100, 107, 113, 114, 116, 120, 125, 127, 128,
       137, 140, 141, 142, 143, 144, 148, 151, 152, 158, 161, 162, 163,
       164, 166, 170, 186, 194, 209, 211, 224, 229, 230, 231, 232, 233,
       234, 236, 237, 238, 239, 243, 244, 246, 249, 261, 262, 263])

# Read OD

## Select t

In [17]:
demand = pd.read_csv("/Users/peyman/Dropbox (MIT)/Projects/RL_ridehailing/env/Data/Daily_demand/demand_for_day_2.csv")
demand.shape

(197746, 10)

In [18]:
t = 50

In [20]:
od_t = demand[demand.time_of_day_index_15m == 40]
od_t.shape

(2649, 10)

In [21]:
od_t.head()

,tpep_dropoff_datetime,passenger_count,trip_distance,PULocationID,DOLocationID,fare_amount,trip_distance_meter,Hour,Day,time_of_day_index_15m
34473,2018-01-02 10:10:23,6,1.68,90,114,8.5,2704.0,10,2,40
34585,2018-01-02 10:23:14,1,1.56,231,148,14.5,2511.0,10,2,40
34826,2018-01-02 10:12:41,1,1.73,161,90,9.5,2785.0,10,2,40
34886,2018-01-02 10:10:09,1,1.45,161,234,8.0,2334.0,10,2,40
35414,2018-01-02 10:06:08,1,1.43,238,236,6.5,2302.0,10,2,40

# Read or generate vehicle locations (at time t)

# Read network's setup (e.g., travel time/cost)

In [6]:
dist_mat = pd.read_csv('/Users/peyman/Dropbox (MIT)/Projects/RL_ridehailing/env/Data/dist_mat_2.csv')

In [8]:
dist_mat.head()

   PULocationID  DOLocationID  trip_distance_meter
0             4             4               1124.0
1             4            12               5802.0
2             4            13               6471.0
3             4            24              11505.0
4             4            41              11405.0